@import url('https://fonts.googleapis.com/css2?family=Rampart+One&family=Zen+Kaku+Gothic+Antique:wght@300;500&display=swap');

@media (max-width: 960px) {
  .container {
    width: 700px;
  }
}

@media (max-width: 720px) {
  .container {
    width: 500px;
  }
}

@media (max-width: 540px) {
  .container {
    width: 300px;
  }
}

body {
  background-color: #E7E7E7;
  color: #053720;
  font-family: 'Zen Kaku Gothic Antique';
  font-weight: 500;
  font-size: 20px;
}

h1 {
  font-family: 'Rampart One';
  color: #8A6419;
  font-size: 50px;
  text-align: center;
  word-spacing: 5px;
  line-height: 50px;
}

.container {
 max-width: 500px;
 text-align: center;
 margin: 0 auto;
}

.link {
  color: #357077;
}

a {
  text-decoration: none;
  color: #357077;
}

a:hover {
  color: #8A6419;
  transition: color 3s;
}

.card-white {
  background: white;
  padding: 10px 35px;
  border: 1px solid lightgrey;
  border-radius: 10px;
  margin: 20px 0px;
  box-sizing: border-box;
  border-bottom-color: #C095B9;
  border-bottom-width: 10px;
  padding: 10px 20px 25px 20px;
}

.img-circle {
  margin-left: auto;
  margin-right: auto;
  border-radius: 50%;
  object-fit: contain;
}

.list-inline > li {
  display: inline-block;
  padding: 0px 20px;
  line-height: 1px;
  font-size: 40px;
}

.fa {
  line-height: 1px;
  font-size: 25px;
}

.list-inline {
  list-style: none;
  padding-left: 0px;
  line-height: 1px;
}

.btn-new {
  background-color: #8A6419;
  color: #E7E7E7;
  padding: 10px 20px;
  font-size: 12px;
  border-radius: 10px;
}

.btn-new:hover {
  background-color: #C095B9;
  transition: background-color, 3s;
}
